---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Search Results for “ {{ tag }} ”"
---

<h1 class="bg-black text-center text-xl text-pink-600">Search Results For  {{ tag | upper}} </h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/' | url }}" class="px-20 py-5  md:py-10 inline-flex text-md text-pink-700 font-bold"><svg width="15px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14" data-icon="arrow-left" data-prefix="fas" viewBox="0 0 448 512"><defs/><path fill="currentColor" d="M258 445l-23 22c-9 10-24 10-34 0L7 273c-9-9-9-25 0-34L201 45c10-10 25-10 34 0l23 22c9 9 9 25-1 34L137 216h287c13 0 24 11 24 24v32c0 13-11 24-24 24H137l120 115c10 9 10 25 1 34z"/></svg>&nbsp;Get Back</a>
</nav>