<section class="text-gray-500 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-white tracking-widest">OUR TEAM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are a Less Team & More Friends</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <div class="border-wrap rounded-full">
            <a href="https://www.instagram.com/quotes.poesie/">
              <img alt="team" class="flex-shrink-0 rounded-full w-48 h-auto object-cover object-center sm:mb-0 mb-4"
                src="/_includes/assets/images/SamuelPhilimon.jpg">
            </a>
          </div>
          <div class="flex-grow sm:pl-8">
            <a href="https://www.instagram.com/quotes.poesie/">
              <h2 class="title-font font-medium text-lg text-white">Samuel Philimon</h2>
              <h3 class="text-gray-600 mb-3">Editor in Chief</h3>
              <p class="mb-4">Writer by Eternal Will not merely by accident. Apparently lost in the bliss of my dreams.
                Wanna be a REAL " BIG SHOT ".
              </p>
            </a>
            <span class="inline-flex">
              <a class="text-gray-700">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-700">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-700">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <a href="https://twitter.com/imakshxy?s=08">

            <img alt="team" class="flex-shrink-0 rounded-full w-32 h-auto object-cover object-center sm:mb-0 mb-4"
              src="/_includes/assets/images/ShubhamShrivas.png">
          </a>
          <div class="flex-grow sm:pl-8">
            <a href="https://twitter.com/imakshxy?s=08">
              <h2 class="title-font font-medium text-lg text-white">Shubham Shrivas</h2>
              <h3 class="text-gray-600 mb-3">Editor in Chief</h3>
              <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
            </a>
            <span class="inline-flex">
              <a class="text-gray-700">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-700">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-700">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-500 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <h2 class="bg-black text-white text-center text-4xl">Developer</h2>
      <a href="https://www.twitter.com/suyashkelvin">
        <img alt="Suyash Kelvin Savant" title="Suyash Kelvin Savant"
          class="widthk mb-8 object-cover object-center rounded-full inline-block"
          src="/_includes/assets/images/SuyashKelvinSavant.png">
        <br>
        <span class="inline-block h-1 w-10 rounded bg-pink-500 mt-8 mb-6"></span>
        <h2 class="text-white font-medium title-font tracking-wider text-lg">SUYASH KELVIN SAVANT</h2>
        <p class="text-gray-600">Fullstack Developer</p>
        <br>
        <p class="leading-relaxed text-md">" LIVE to CODE , CODE to LIVE "</p>
      </a>
    </div>
  </div>
</section>