<!-- Footer Start -->
<footer class="text-gray-500 bg-black body-font">
    <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                <img src="../../_includes/assets/images/logo.svg" alt="Gyan Buzz Logo" class="w-48 md:w-64">
            </a>
            <p class="mt-2 text-sm text-gray-600">Think Big</p>
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">About</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-white"
                            href="https://www.google.com/maps/place/Gyan+Ganga+Institute+of+Technology+%26+Sciences/@23.1291635,79.8748309,15z/data=!4m2!3m1!1s0x0:0xc066b027d5fb1488?ved=2ahUKEwjH8Kel6IThAhUxg-YKHcqcBbIQ_BIwC3oECAEQCA">Our
                            Location</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://ggits.org/contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="http://mail.ggits.org/">Staff Email</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="http://mail.ggits.net/">Student Email</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">More Links</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://ggits.org/nirf/nirf.pdf">NIRF Data</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white"
                            href="https://ggits.org/alumni-of-gyan-ganga">Alumni</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white"
                            href="https://www.aicte-india.org/feedback/index.php">AICTE Feedback</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://swayam.gov.in/">Swayam Portal</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Portal Login</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://ggits.org/moodle">Moodle</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="http://ggits.org/result/">Results</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="http://103.233.79.87/beedu/login.aspx">CMS</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://swayam.gov.in/">Swayam Portal</a>
                    </li>
                </nav>
            </div>
            <div class=" lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Social Media</h2>

                <nav class=" list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://www.instagram.com/gyanganga_official/">
                            <div class="inline flex justify-center md:justify-start">
                               
                                 <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                              
                              &nbsp;&nbsp;Instagram</div>
                        </a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://www.facebook.com/gyangangaofficial">
                            <div class="inline flex justify-center md:justify-start">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>&nbsp;&nbsp;Facebook</div>
                        </a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white" href="https://twitter.com/GyanGangaGroup">
                            <div class="inline flex justify-center md:justify-start">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-5 h-5" viewBox="0 0 24 24">
                                    <path
                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                    </path>
                                </svg>
                                &nbsp;&nbsp;Twitter</div>
                        </a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-white"
                            href="https://in.linkedin.com/school/gyan-ganga-group-of-institutions/">
                            <div class="inline flex justify-center md:justify-start">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path stroke="none"
                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                    </path>
                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                </svg>
                                &nbsp;&nbsp;LinkedIn</div>
                        </a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="bg-gray-900">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-600 text-sm text-center sm:text-left" id="year">© Suyash Kelvin Savant
            </p>
                <a href="https://twitter.com/suyashkelvin" rel="noopener noreferrer" class="text-gray-500 text-center text-sm ml-1"
                    target="_blank">@suyashkelvin</a>
            
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                <a class="text-gray-600 hover:text-gray-400" href="https://www.facebook.com/gyangangaofficial">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600 hover:text-gray-400" href="https://twitter.com/GyanGangaGroup">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600 hover:text-gray-400" href="https://www.instagram.com/gyanganga_official/">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600 hover:text-gray-400"
                    href="https://in.linkedin.com/school/gyan-ganga-group-of-institutions/">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>
<!-- Footer End -->