<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="shortcut icon" href="/_includes/assets/images/favicon.svg" type="image/x-icon">

  {% set css %}
    {% include "assets/css/base.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
 