
        <div class="my-24 w-full md:w-2/3 mx-auto">
            <div class="w-full text-gray-800 text-4xl px-5 font-bold leading-none">
                <h1 class="text-center text-5xl">Website Terms and Conditions of Use</h1>
            </div>
            
            <div class="px-5 my-24 w-full mx-auto">
            

<h2>1. Terms</h2>
<br>
<p>By accessing this Website, accessible from gyanbuzz.org, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>
<br>
<h2>2. Use License</h2>
<br>
<p>Permission is granted to temporarily download one copy of the materials on GyanBuzz's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
<br>
<ul class="list-disc">
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose or for any public display;</li>
    <li>attempt to reverse engineer any software contained on GyanBuzz's Website;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
</ul>
<br>
<p>This will let GyanBuzz to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>
<br>
<h2>3. Disclaimer</h2>
<br>
<p>All the materials on GyanBuzz’s Website are provided "as is". GyanBuzz makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, GyanBuzz does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>
<br>
<h2>4. Limitations</h2>
<br>
<p>GyanBuzz or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on GyanBuzz’s Website, even if GyanBuzz or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>
<br>
<h2>5. Revisions and Errata</h2>
<br>
<p>The materials appearing on GyanBuzz’s Website may include technical, typographical, or photographic errors. GyanBuzz will not promise that any of the materials in this Website are accurate, complete, or current. GyanBuzz may change the materials contained on its Website at any time without notice. GyanBuzz does not make any commitment to update the materials.</p>
<br>
<h2>6. Links</h2>
<br>
<p>GyanBuzz has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by GyanBuzz of the site. The use of any linked website is at the user’s own risk.</p>
<br>
<h2>7. Site Terms of Use Modifications</h2>
<br>
<p>GyanBuzz may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>
<br>
<h2>8. Your Privacy</h2>
<br>
<p>Please read <a href="/privacypolicy">our Privacy Policy</a>.</p>
<br>
<h2>9. Governing Law</h2>
<br>
<p>Any claim related to GyanBuzz's Website shall be governed by the laws of in without regards to its conflict of law provisions.</p>        
            </div>
        </div>