---
layout: layouts/base.njk
section: post
---
<!-- component -->
<div class="max-w-screen-lg mx-auto">


  <main class="mt-10">

    <article>
      <div class="mb-4 md:mb-0 w-full mx-auto relative">
        <div class="px-4 lg:px-0">

          <h1 class="md:text-4xl text-2xl font-semibold text-gray-800 leading-tight">{{ title }}</h1>
          <p>
            <small>
              <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a
                href="/authors/{{ author | slug }}/">{{ author }}</a>
            </small>
          </p>
          {% if tags %}
          <p>
            {% for tag in tags %}
            {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" rel="tag"
              class="py-2 text-pink-700 inline-flex items-center text-sm md:text-lg justify-center mb-2">{{ tag | upper}}&nbsp;&nbsp;</a>
            {%- endif -%}
            {% endfor %}
          </p>
          {% endif %} 
        
        </div>
      </div>
 <img src="/static/img/{% if title %}{{ title | slug}}{% else %}untitled{% endif %}.jpg" class="w-full object-cover lg:rounded" style="height: 28em;"/>
      <div class="flex flex-col lg:flex-row lg:space-x-12">
        <div class="px-4 lg:px-0 mt-5 text-gray-700 text-md md:text-lg  leading-relaxed w-full lg:w-3/4">
          {{ layoutContent | safe }}
        </div>
      </div>
    </article>
  </main> 
  <!-- main ends here -->
</div>

<nav>
  <a href="{{ '/' | url }}" class="px-20 py-5 md:py-10 inline-flex text-md text-pink-700 font-bold"><svg width="15px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14" data-icon="arrow-left" data-prefix="fas" viewBox="0 0 448 512"><defs/><path fill="currentColor" d="M258 445l-23 22c-9 10-24 10-34 0L7 273c-9-9-9-25 0-34L201 45c10-10 25-10 34 0l23 22c9 9 9 25-1 34L137 216h287c13 0 24 11 24 24v32c0 13-11 24-24 24H137l120 115c10 9 10 25 1 34z"/></svg>&nbsp;Get Back</a>
</nav>